
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.a  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    background-color: rgb(219, 163, 163);

    border-radius: 5px;
    margin: 2px 5px;
    width: 500px;
}
p {
    background-color: rgba(104, 107, 110, 0.232);
    border-radius: 4px;
    margin: 2px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.head {
    background-color: aliceblue;
    border-radius: 4px;
    margin: 2px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
h3 {
    text-align: center;
    margin: 1px 5px; 
    background-color: rgb(55, 93, 125);
    padding: 5px;
    border-radius: 5px;
}

section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
