* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-image: url(https://img.freepik.com/free-vector/flat-sky-background_23-2148032669.jpg?semt=ais_hybrid&w=740&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #ffbbbb;
}
.container {
    width: 1200px;
    height: 200px auto 40px;
}
.card {
    background-color: rgb(255, 255, 255);
  border-top: rgb(255, 0, 102) 5px solid;
  padding: 20px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
/* Group 1 */
header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 15px;
    position: fixed;
    gap: 0px;
    left: 0;
    top: 0;
    text-align: center;
    height: 30px;
    width: 100%;
    box-shadow: 2px 5px 10px rgb(228, 227, 227);
}
h2   {
    padding: 20px 20px;
}
.list-menu {
    align-items: centers;
    list-style: none;
    display: flex;
     padding: 1px 1px 1px 800px;
     gap: 20px;
}
.list-menu li {
   
  transition: transform 1.3s ease;
}

.list-menu li:hover {
  transform: translatey(-10px);
}

.list-menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: linear-gradient(135deg, red, pink);
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgb(49, 49, 49);
}
/* Group 2 */
.card.moduol-1 {
    display: flex;
}
.row  {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
    background-color: rgb(219, 163, 163);

    border-radius: 5px;
    margin: 2px 5px;
    width: 500px;
}
p {
    background-color: rgba(104, 107, 110, 0.232);
    border-radius: 4px;
    margin: 2px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.head {
    background-color: aliceblue;
    border-radius: 4px;
    margin: 2px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
h3 {
    text-align: center;
    margin: 1px 5px; 
    background-color: rgb(55, 93, 125);
    padding: 5px;
    border-radius: 5px;
}

div {
    display: gri;
    grid-template-columns: repeat(3,1fr);
}
