/*Globla css Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-image: url(https://img.freepik.com/free-vector/flat-sky-background_23-2148032669.jpg?semt=ais_hybrid&w=740&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 200px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 12px;
  border-radius: 999px;
  box-shadow: 0px 0px 7px rgb(49, 49, 49);
}

/* Container Styles */

.container {
  background-color: rgba(255, 255, 255, 0);
  max-width: 1200px;
  margin: 50px auto 40px;
}

/* Group1 Header Styles */
header {
  background-color: rgba(255, 255, 255, 0.316);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.list-menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

.list-menu li {

}

.list-menu li:hover {

}

.list-menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: linear-gradient(135deg, red, pink);
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgb(49, 49, 49);
}

.list-menu a:hover {
  background: linear-gradient(135deg, rgb(55, 0, 255), rgb(133, 133, 209));
}

/* Group 2 */
.card.moduol-1 {
  display: flex;
  align-items: center;
  padding: 40px 60px;
}
.card.moduol-1 h1 {
  font-size: 50px;
  line-height: 1.3;
  white-space: nowrap;
    color: #e0f2fe;
  text-shadow:
    0 0 10px rgba(56,189,248,0.6),
    0 0 30px rgba(14,165,233,0.4);
}
.Profile-name {
  margin-top: 70px;
}
.Profile-img {
  margin-left: 130px;
}
/* Group 3 */
.j {
  padding:  50px 0px;
}
.row  {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 2px 5px;
    width: auto;
    margin-bottom: 0px;
}
.row p {
    background-color: rgba(104, 107, 110, 0.232);
    border-radius: 4px;
    margin: 2px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}
.head {
    background-color: aliceblue;
    border-radius: 4px;
    margin: 2px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.card.moduol-2 h3 {
    text-align: center;
    margin: 1px 5px; 
    background-color: rgb(55, 93, 125);
    padding: 5px;
    border-radius: 5px;
}

/* shear css */
.card {
  background-color: rgba(255, 255, 255, 0.275);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 7px rgb(49, 49, 49);
}
/* Group 3 */ 
.card.moduol-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.card.moduol-3 .card  {
  text-align: center;
  max-width: 300px;
  margin-top: 50px;
}

/* Group 3 
/* Group 3 
.img-small {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 7px rgb(49, 49, 49);
}

.position {
  display: flex;
  align-items: center;
  border: rgb(128, 207, 0) 3px dashed;
  margin: 15px;
}

.position.left {
  justify-content: left;
}

.position.center {
  justify-content: center;
}

.position.right {
  justify-content: right;
}*/

/* Group 4 
.img-fixed {
  width: 260px;
  height: 160px;
  object-fit: cover;
  margin-top: 15px;
}*/

/*Group 4 
.obj-fit-image {
  width: 800px;
  height: 200px;
  border: 1px solid black;
}

.obj-fit-image.contain {
  object-fit: contain;
}

.obj-fit-image.fill {
  object-fit: fill;
}

.obj-fit-image.cover {
  object-fit: cover;
}*/

/* Group 6 
.img-youtube img {
  width: 260px;
  border-radius: 12px;
  margin: 20px 0;
  transition: 0.3;
}

.img-youtube img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 7px rgb(49, 49, 49);
}*/

/* Group 6
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 12px;
}

.gallery img {
  height: 120px;
  width: 100%;
  object-fit: cover;
} */
/* Group 7 
figure {
  text-align: center;
}*/
/* Group 9 
.bg-image {
  background-image: url(https://img.freepik.com/premium-vector/white-bg_1318093-13247.jpg?semt=ais_hybrid&w=740&q=80);
}
.back-link {
  display: block;
  margin: 15px;
  text-decoration: none;
  color: rgb(255, 250, 250);
  border-radius: 12px;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(148, 148, 148);
  text-align: center;
}
.back-link:hover {
  text-decoration: none;
  color: rgb(173, 235, 204);
  background-color: rgb(34, 34, 34);
}*/
